@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 248 90% 66%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --ghost-pink: #f8e7ee;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

html,
body {
  height: 100vh;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .Violet {
    color: #8b5cf6;
  }
  .Green {
    color: #047857;
  }
  .Pink {
    color: #be185d;
  }
  .Orange {
    color: #c2410c;
  }
  .Emerald {
    color: #15803d;
  }
  .ghostViolet {
    color: #f3eefe;
  }
  .ghostGreen {
    color: #e7f2eb;
  }
  .ghostPink {
    color: #f8e7ee;
  }
  .ghostOrange {
    color: #f9ece6;
  }
  .ghostEmerald {
    color: #e7f8f2;
  }
  .ghostGray {
    color: #e1ece8;
  }
  .bgPremium {
    background-image: linear-gradient(
      rgb(99 102 241),
      rgb(168 85 247),
      rgb(236 72 153)
    );
  }
}

@keyframes ldio-vpbrue6olkj-1 {
  0% {
    top: 36px;
    height: 128px;
  }
  50% {
    top: 60px;
    height: 60px;
  }
  100% {
    top: 60px;
    height: 60px;
  }
}
@keyframes ldio-vpbrue6olkj-2 {
  0% {
    top: 41.99999999999999px;
    height: 116.00000000000001px;
  }
  50% {
    top: 60px;
    height: 60px;
  }
  100% {
    top: 60px;
    height: 60px;
  }
}
@keyframes ldio-vpbrue6olkj-3 {
  0% {
    top: 48px;
    height: 104px;
  }
  50% {
    top: 60px;
    height: 60px;
  }
  100% {
    top: 60px;
    height: 60px;
  }
}

.ldio-vpbrue6olkj div {
  position: absolute;
  width: 30px;
}

.ldio-vpbrue6olkj div:nth-child(1) {
  left: 35px;
  background: #6466f1;
  animation: ldio-vpbrue6olkj-1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.2s;
}

.ldio-vpbrue6olkj div:nth-child(2) {
  left: 85px;
  background: #a755f6;
  animation: ldio-vpbrue6olkj-2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.1s;
}

.ldio-vpbrue6olkj div:nth-child(3) {
  left: 135px;
  background: #ec4899;
  animation: ldio-vpbrue6olkj-3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: undefineds;
}

.loadingio-spinner-pulse-baona0p4vji {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}

.ldio-vpbrue6olkj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-vpbrue6olkj div {
  box-sizing: content-box;
}
